body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


.addTask{
  height: 30vh;
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task{
  width: 40%;
  height: auto;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task button{
  width: 25%;
  height: 20px;
  margin-left: 20px;
  text-align: center;
}